# Gradle
.gradle
/build/
*/build/
# Local configuration
/local.properties
/.idea/
/*.iml
# Kotlin
*.kotlin_module
# Android Studio
captures/
.externalNativeBuild
.cxx
# Others
.DS_Store
*.log

# Ignore Gradle build output directory
build
backup.db
.antigravitycli/
