name: Android Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest
    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Make gradlew executable
      run: chmod +x ./gradlew

    - name: Build APK
      run: ./gradlew assembleDebug



    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug-unsigned-apk
        path: app/build/outputs/apk/debug/app-debug.apk

    - name: Update Nightly Release
      uses: softprops/action-gh-release@v1
      if: github.ref == 'refs/heads/main'
      with:
        tag_name: nightly
        prerelease: true
        title: "Nightly Build"
        files: app/build/outputs/apk/debug/app-debug.apk
        overwrite: true
